<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scujcc.dada">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.scujcc.dada.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.scujcc.dada.user.UserDetailActivity" />
        <activity
            android:name="com.scujcc.dada.message.MessageActivity"
            android:parentActivityName="com.scujcc.dada.main.MainActivity" />
        <activity
            android:name="com.scujcc.dada.user.UserDetailEditActivity"
            android:parentActivityName="com.scujcc.dada.main.MainActivity" />
        <activity
            android:name="com.scujcc.dada.function.StrokeActivity"
            android:parentActivityName="com.scujcc.dada.main.MainActivity" />
        <activity
            android:name="com.scujcc.dada.function.LikeActivity"
            android:parentActivityName="com.scujcc.dada.main.MainActivity" />
        <activity
            android:name="com.scujcc.dada.function.WalletActivity"
            android:parentActivityName="com.scujcc.dada.main.MainActivity" />
        <activity
            android:name="com.scujcc.dada.function.ServiceActivity"
            android:parentActivityName="com.scujcc.dada.main.MainActivity" />
        <activity
            android:name="com.scujcc.dada.function.SettingActivity"
            android:parentActivityName="com.scujcc.dada.main.MainActivity" />
        <activity android:name="com.scujcc.dada.TestActivity" />
        <activity android:name="com.scujcc.dada.function.SearchActivity" />
        <activity android:name="com.scujcc.dada.content.ContentDetailActivity" />
        <activity android:name="com.scujcc.dada.user.LoginActivity"></activity>
    </application>

</manifest>