<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scujcc.dada">

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".main.DadaApplication"
        android:allowBackup="true"
        android:icon="@drawable/dada_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.activity.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.MessageActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.UserDetailEditActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.stroke.StrokeActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.collection.CollectionActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.WalletActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.ServiceActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.settings.SettingActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".content.ContentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add.AddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".pay.PayActivity" />
        <activity
            android:name=".function.stroke.OrderActivity"
            android:parentActivityName=".function.stroke.StrokeActivity" />
        <activity android:name=".user.activity.ProviderDetailActivity" />

        <!-- ***************发布页相关************* -->
        <!-- 高德Service -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 高德Key Debug -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7eb4a96bd8ab82facf193f917dd4813d" />
        <!-- 省市区街道 -->
        <activity android:name=".common.cityselector.AddressActivity" />

        <!-- 分类 -->
        <activity android:name=".add.activity.CategoryActivity" />
        <activity android:name=".pay.WXPayEntryActivity" />
        <activity android:name=".main.GuideActivity" />

        <!-- 即时通讯 -->
        <activity
            android:name=".chatkit.activity.LCIMConversationActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="cn.leancloud.chatkit.conversation_item_click_action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chatkit.activity.LCIMImageActivity" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.avos.avoscloud.PushService" />

        <activity android:name=".add.MapActiivty" />
        <activity android:name="com.scujcc.MapActivity" />
    </application>

</manifest>